@charset "UTF-8";

.letra{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
    display: none;
}

.letraJ{
    width: 30px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}

#dvdisplay{
    display: block;
}

#dvForca{
    position: absolute;
    left: 150px;
}

.forcaS{
    position: absolute;
    left: 150px;
}